.wrapper {
  display: flex;
  position: relative;
  .trip {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 38%;
    box-shadow: 5px 0px 20px 0px darkgray;
    z-index: 10;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: white;
    .infomation {
      box-shadow: inset 0px 0px 5px darkgrey;
      position: relative;
      .picker {
        position: absolute;
        top: 6rem;
        right: -2rem;
        z-index: 100;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      }

      .color_picker {
        position: absolute;
        right: 0;
        margin: 2rem;
        padding: 10px;
        background-color: white;
        .picker_icon {
          font-size: 28px;
          color: black;
        }
      }
      .choose_date {
        display: flex;
        gap: 20px;
        padding: 2rem 4rem;
      }

      .trip_name_wrapper {
        position: relative;
        width: 60%;
        margin: 2rem 4rem;
      }

      .trip_status {
        position: absolute;
        top: -10px;
        left: 16px;

        display: flex;
        align-items: center;
        gap: 6px;

        padding: 2px 8px;
        font-size: 12px;
        font-weight: 600;

        background: white;
        border-radius: 12px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

        svg {
          font-size: 14px;
        }
      }
    }
    .notes {
      background-color: white;
      padding: 2rem 4rem;
      & > h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 20px;
      }
    }
    .itinerary {
      background-color: white;
      padding: 2rem 4rem;
      & > h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 20px;
      }
      .iti_list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .search_box {
        margin-top: 2rem;
      }
    }
  }
  .map {
    position: fixed;
    right: 0;
    top: 0;
    width: 62%;
    height: 100vh;
    z-index: 0;
    .details {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 40vh;
      z-index: 10;
      padding: 20px 10px;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      & > button {
        color: black;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 20px;
        font-weight: 700;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        box-shadow: 0 0 5px;
        border: 0;
        z-index: 20;
        cursor: pointer;
      }
    }
  }
}
hr {
  width: 90%;
  margin: 0 auto;
}
