.wrapper {
  display: flex;
  height: var(--max-height-without-footer);
  overflow: hidden;
}

.sidebar {
  width: 15em;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.15);
  border-right: 1px solid darkgray;
  .menu_item {
    padding: 1.5rem 2rem;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  .active {
    background: rgba(0, 0, 0, 0.1);
    font-weight: 600;
  }
}

.main {
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 1px solid darkgray;
}

.left {
  display: flex;
  flex-direction: column;
}

.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 2px solid darkgrey;
  padding: 2rem;

  .search_box {
    width: 60%;
    font-size: 30px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  .title {
    margin: 1rem 2rem;
  }
}

.right {
  width: 60%;
  overflow-y: auto;
  display: flex;
}

/* waiting */
.waiting {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
