.container {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
  transition: 0.15s;
  cursor: pointer;
  font-family: "Merienda", sans-serif;
  color: black;
  .image {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 10px;
  }
  .info {
    text-align: left;
    & h3 {
      font-size: 20px;
      font-weight: 500;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
