.wrapper {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 5rem;
  h2 {
    font-size: 40px;
    margin-top: 20px;
  }
  .search {
    .text_field {
      width: 50%;
      margin: 10px 0;
    }
    & > button {
      background-color: var(--buttonColor);
      border: 2px solid black;
      font-weight: 700;
    }

    .choose_location {
      width: 50%;
      margin: 2rem auto;
      & button {
        box-shadow: none;
        margin: 0 5px;
      }
    }
    .choose_date {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 2em;
      & button {
        box-shadow: none;
      }
    }
  }
  & > hr {
    margin: 3rem auto;
  }
  .trips_list {
    .itinerary_list {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
