.loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.car_wrapper {
  position: relative;
  width: 120px;
  animation: carMove 1.2s ease-in-out infinite;
}

.car {
  width: 90px;
  display: block;
  /* margin: 0 auto; */
  filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.2));
}

/* Smoke */
.smoke {
  position: absolute;
  left: -10px;
  bottom: 14px;
  width: 8px;
  height: 8px;
  background: #111111;
  border-radius: 50%;
  opacity: 0;
  animation: smoke 1.5s ease-in-out infinite;
}

.s1 {
  animation-delay: 0s;
}

.s2 {
  animation-delay: 0.3s;
}

.s3 {
  animation-delay: 0.6s;
}

/* Text */
.text {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--marker);
}

.dots span {
  animation: dot 1.4s infinite;
  opacity: 0;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* Animations */
@keyframes smoke {
  0% {
    opacity: 0.7;
    transform: translate(0, 0) scale(0.8);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: translate(-30px, -20px) scale(1.2);
  }
}

@keyframes carMove {
  0%,
  100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(12px) translateY(-2px);
  }
}

@keyframes dot {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
