.iti_item {
  display: flex;
  position: relative;
  margin-left: 1rem;

  .index {
    position: absolute;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 900;
    transform: translate(-1rem, 1.5rem);
  }
  .content {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f5;
    width: 90%;
    padding: 1rem 2rem;
    transition: 150ms all;
    & > button {
      font-size: 17px;
      color: var(--text);
      background: transparent !important;
      font-family: "Merienda", sans-serif;
      font-weight: 900;
      border: none;
      text-align: left;
      cursor: pointer;
    }
  }
  .action {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    opacity: 0;
    transition: 0.2s;
    .action_btn {
      color: black;
      cursor: pointer;
      &:disabled {
        color: rgba(0, 0, 0, 0.26);
      }
    }
  }
  &:hover {
    .content {
      background-color: rgb(252, 251, 251);
      box-shadow: 0 0 20px;
    }
    .action {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 20px;
    border-left: 2px dashed darkgrey;
    bottom: 0;
    transform: translate(10px, 100%);
  }
}
